{% set is_small = true %}

<div class="{{ is_small ? 'w-8/12' : 'w-full'}} bg-white border-[1px] border-green py-60 px-[120px] flex flex-col items-center mb-170">
    <h2 class="mb-50">Add your plants</h2>
    <p class="mb-50">Share information on your favorite plants with feetō users. You can post advices on existing plants too ! Featuring everyone else, create the most complete herbarium in the world !</p>
    <a href="{{ path(ctaRedirection) }}" class="cta-button">Create a plant</a>
</div>