@font-face {
    font-family: 'Ogg';
    src: url('../../fonts/Ogg-Roman.woff2') format('woff2'),
        url('../../fonts/Ogg-Roman.woff') format('woff'),
        url('../../fonts/Ogg-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../../fonts/HelveticaNeueLight.woff2') format('woff2'),
        url('../../fonts/HelveticaNeueLight.woff') format('woff'),
        url('../../fonts/HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

h1 {
    @apply font-serif text-green text-130 leading-[120%];
}

.subtitle {
    @apply font-serif text-gray text-[100px] leading-[110%];
}

h2 {
    @apply font-serif text-green text-80 leading-[120%]
}

h3 {
    @apply font-sans text-black text-32 text-center bg-white p-40 rounded-full border-[1px] border-green w-[max-content] h-[max-content];
}

h4 {
    @apply font-serif text-black text-36;
}

h5 {
    @apply font-serif text-gray text-30;
}

p {
    @apply text-32 leading-[118%];
}

.tag {
    @apply font-sans text-white text-32 bg-dark-green rounded-full px-16 py-4 mr-10;
    display: initial;
}

.tag_dark {
    @apply font-sans text-dark-green text-22 bg-white rounded-full px-8 py-3 mr-4;
    display: initial;
}