{% extends 'base.html.twig' %}

{% block title %}Feetō{% endblock %}

{% block body %}
    <h1 class="px-container">{{ 'Review'|trans }} {{ plantName }}</h1>

    {{ include('review/_form.html.twig') }}
{% endblock %}
