<form method="post" action="{{ path('app_plant_delete', {'id': plant.id}) }}" onsubmit="return confirm({{ 'Delete_confirm'|trans }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plant.id) }}">
    <button class="btn tag_dark">{{ 'Delete'|trans }}</button>
</form>
