<div class="h-[450px] bg-dark-green rounded-lg block relative p-[35px]">
    <div class="absolute top-0 left-0 bg-white h-[80%] w-full rounded-lg rounded-b-[100px]"></div>
    <div class="relative">
        <h4>Monstera Deliciosa</h4>
        <h5>Intérieur</h5>
        <div class="w-[80%] absolute top-[70px] right-[-80px] z-10">
            <img class="w-full object-cover" src="{{ asset('images/monstera.png') }}" alt="Monstera">
        </div>
    </div>
</div>