<div class="h-[450px] bg-dark-green rounded-lg block relative p-[35px]">
    <div class="absolute top-0 left-0 bg-white h-[80%] w-full rounded-lg rounded-b-[100px]"></div>
    <div class="relative">
        <h4>{{ plant.name }}</h4>
        <h5>{{ plant }}</h5>
    </div>
    <div class="w-[65%] absolute bottom-[20px] right-[-80px] z-10">
            <img class="w-full object-cover" src="{{ asset('images/' ~ plant.imageUrl) }}" alt="{{ plant.name }}">
        </div>
</div>