{% extends 'base.html.twig' %}

{% block title %}Feetō
{% endblock %}

{% block body %}
	<div class="flex justify-between items-center px-container mb-60">
		<h1>{{ 'Our pearls'|trans }}</h1>
		<div>
			<a href="{{ path('app_plant_new') }}" class="button-dark-outlined">{{ 'Create new'|trans }}</a>
		</div>
	</div>

	<div class="relative w-full flex flex-col items-center">
		<div class="w-full h-full bg-green absolute top-[90px] left-0 -z-[1]"></div>
		<div class="grid grid-cols-3 w-full px-container gap-[20px] mb-170">
			{% for plant in plants %}
				<a href="{{ path('app_plant_show', {'id': plant.id }) }}">{% include "plant/card.html.twig" %}</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
