{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="flex flex-col items-center">
    <h1 class="mb-[160px] px-container">Your new digital herbarium.</h1>
    <div class="relative w-full flex flex-col items-center">
        <div class="w-full h-[80vh] bg-green absolute top-[55px] left-0 -z-[1]"></div>
        <h3 class="mb-[80px]">Hello Mathilde, check out our latest plants.</h3>
        <div class="flex w-full px-container gap-x-[20px]">
            {% include "plant/card.html.twig" %}
            {% include "plant/card.html.twig" %}
            {% include "plant/card.html.twig" %}
        </div>
    </div>   
</div>
{% endblock %}
