{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="flex flex-col items-center">
    <h1 class="mb-[160px] px-container">Your new digital herbarium.</h1>
    <div class="relative w-full flex flex-col items-center">
        <div class="w-full h-[80vh] bg-green absolute top-[55px] left-0 -z-[1]"></div>
        <h3 class="mb-[80px]">Hello Mathilde, check out our latest plants.</h3>
        <div class="grid grid-cols-3 w-full px-container gap-[20px] mb-170">
            {% for plant in plants|slice(0, 5) %}
                {% include "plant/card.html.twig" %}
            {% endfor %}
        </div>
        {% include "partials/cta.html.twig" %}
    </div>   
</div>
{% endblock %}
