{% extends 'base.html.twig' %}

{% block title %}Plant index{% endblock %}

{% block body %}
    <h1 class="px-container">{{ 'Profile'|trans }}</h1>
    {% include "user/_form.html.twig" %}

{% endblock %}